@import 'vars';

.ButtonSizeBar{
    position: absolute;
    bottom: 12rem;
    right: calc(50% - 2rem);
    color: var(--colorWhite);
    background: var(--colorBlueLight);
    margin-top: 2rem;
    text-align: center;
    width: 4rem;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}
