@import 'vars';

.buttonLateral-div {
  padding: 0.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  background: var(--color3);
  color: #FFFFFF;
  width: 100%;
  margin: 0.5rem auto;
}

.buttonLateral-div:hover{
    cursor: pointer;
    background: var(--colorBlueLight);
}