@import 'vars';

.ContainerNotesMini {
  background: var(--colorWhiteDark);
  box-shadow: 2px 3px 20px 2px rgba(0, 0, 0, 0.4901960784);
  display: block;
  height: 50%;
  width: calc(100% - 1rem);
  // max-width: 73.5vw;
  margin: -4rem auto 1rem auto;
  border: 0px solid #000000;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  overflow-y: scroll;
  z-index: 1;
}

.ContainerNotesMini-Hidden {
  background: var(--colorWhiteDark);
  box-shadow: 2px 3px 20px 2px rgba(0, 0, 0, 0.4901960784);
  display: block;
  height: 50%;
  width: calc(100% - 1rem);
  // max-width: 90vw; 
  margin: -4rem 0.5rem 1rem 0.5rem;
  border: 0px solid #000000;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  overflow-y: scroll;
  z-index: 1;
}
.ContainerNotesMini-Hidden::-webkit-scrollbar {
  width: 0;
  background-color: transparent; /* Opcional: Puedes ajustar el color del fondo del área del scroll oculto */
}
.ContainerNotesMini::-webkit-scrollbar {
  width: 0;
  background-color: transparent; /* Opcional: Puedes ajustar el color del fondo del área del scroll oculto */
}
.ContainerNotesMini > p {
  color: var(--colorGray);
  position: absolute;
  display: block;
  top: calc(50% - 1rem);
  left: calc(50% - 6rem);
}

.containerNotesMini-addNoteBig {
  cursor: pointer;
  display: none;
  flex-direction: column;
  /* position: absolute; */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 8rem);
  color: var(--colorGray);
}
.containerNotesMini-addNoteBig:hover{
  background: var(--colorWhite);
}

.containerNotesMini-addCategoryBig{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--colorGray);
}

.containerNotesMini-addCategoryButton {
  cursor: pointer;
  border: 1px solid var(--colorGray);
  border-radius: 2rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--colorGray);
  color: var(--colorWhite);
  font-size: medium;
  font-weight: 600;
}

.containerNotesMini-addNoteButton {
  cursor: pointer;
  border: 1px solid var(--colorGray);
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--colorGray);
  color: var(--colorWhite);
  font-size: medium;
  font-weight: 600;
}
.containerNotesMini-category-div {
  // border: 1px solid #000000;
  // background: var(--color2);
  width: 100%;
  // max-width: 20rem;
  display: block;
  overflow-x: scroll;
  border-bottom: 1px solid var(--colorGray);
}
.containerNotesMini-category-div::-webkit-scrollbar {
  width: 0;
  background-color: transparent; /* Opcional: Puedes ajustar el color del fondo del área del scroll oculto */
}
.containerNotesMini-category-div-categories {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  overflow-x: scroll;
  max-width: 70vw;
}
.containerNotesMini-category-div-categories-Hidden {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  overflow-x: scroll;
  max-width: 81vw;
}
.containerNotesMini-category-div-categories::-webkit-scrollbar {
  width: 0;
  background-color: transparent; /* Opcional: Puedes ajustar el color del fondo del área del scroll oculto */
}
.containerNotesMini-category-notesTitle {
  display: flex;
}
.containerNotesMini-category-notesTitle > p {
  text-align: left;
  font-weight: 400;
}

.containerNotesMini-category-notesTitle p:nth-child(2) {
  margin-left: 0.5rem;
  font-weight: bold;
  color: var(--colorGreen);
}

.containerNotesMini-NoteContainer-div {
  width: -webkit-fill-available;
  height: calc(100% - 7rem);
}
.noteContainer-options-div {
  background: #ffffff;
  display: none; // flex
  justify-content: flex-end;
  padding-top: 0.5rem;
}
.noteMiniContainer-div {
  height: calc(100% - 1rem);
  overflow-y: scroll;
  justify-content: space-evenly;
  display: grid;
  grid-template-rows: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 7rem));
  grid-auto-rows: 10rem;
  grid-auto-columns: 7rem;
  gap: 1rem;
  padding-top: 1rem;
}

.noteMiniContainer-div::-webkit-scrollbar {
  width: 0;
  background-color: transparent; /* Opcional: Puedes ajustar el color del fondo del área del scroll oculto */
}

