@import 'vars';

.containerEditNote {
  display: none; //block
  background: var(--colorWhiteDark);
  box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.4901960784);
  height: 36rem;
  width: calc(100% - 4rem);
  max-width: 29.5rem;
  margin: -5rem auto 1rem auto;
  border: 0px solid #000000;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  z-index: 1;
}



.containerEditNote > p {
  color: var(--colorGray);
}
.containerEditNote-container {
  display: flex;
}
.containerEditNote-notes {
  width: 40%;
  height: 28rem;
  background: var(--colorWhiteDark);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.containerEditNote-notes > div {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  min-width: 9rem;
  /* max-width: 12rem; */
  width: calc(100% - 0.5rem);
  max-height: 10rem;
}

.containerNotesMini-addNoteShortInEdit {
  display: flex;
  align-items: center;
  color: var(--colorGray);
  background: transparent;
  justify-content: space-evenly;
  width: 10rem;
}

.containerNotesMini-addCategoryShortInEdit {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10rem;
  margin: 0.5rem auto;
  color: var(--colorGray);
}


.containerNotesMini-addCategoryBigInEdit{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: calc(50% - 1rem);
  left: 0rem;
  color: var(--colorGray);
}