@import 'vars';

.containerEditNote {
  display: none; //block
  background: var(--colorWhiteDark);
  box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.4901960784);
  height: calc(36rem);
  width: calc(100% - 4rem);
  margin: -5rem auto 1rem auto;
  border: 0px solid #000000;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  z-index: 1;
}

.containerEditNote > h1 {
  color: var(--colorGray);
  position: absolute;
  top: 16rem;
  left: 5rem;
}

.containerEditNote > p {
  color: var(--colorGray);
}
.containerEditNote-container{
  display: flex;
}
.containerEditNote-notes {
  width: 40%;
  height: 28rem;
  background: var(--colorWhiteDark);
  overflow-y: scroll;
}
.containerEditNote-notes > div {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background: var(--colorWhite);
  max-width: 12rem;
  height: 12rem;
}
