@import 'vars';

.noteMini-div{
    box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 22%);
    background: var(--colorWhite);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.5rem;
    // border: 1px solid #a3a3a3;
    border-radius: 0.5rem;
}

.noteMini-div div:nth-child(2) > p,
.noteMini-div div:nth-child(3) > p
{
    color: var(--colorGray);
}
.noteMini-div div:nth-child(4) > p{
    color: var(--colorGray);
    font-style: italic;
}
.noteMini-div div:nth-child(2) {
    overflow-y: overlay;
}
.noteMini-div:hover{
    // background: var(--colorYellow);
    cursor: pointer;
}