@import 'vars';

.containerEditNote-editNotes-editNote {
  padding: 1rem;
  width: 60%;
  // max-width: 16.5rem;
  height: 100%;
  background: var(--colorWhite);
  border: 2px solid var(--colorGreen);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.22);
  border-radius: 0.5rem;
  text-transform: capitalize;
  transition: margin-left 2s linear;
  margin-left: 0rem;
}
.containerEditNote-editNotes-noteInfo {
  border-bottom: 1px solid var(--colorGray);
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.noteInfo-containerOptions > span:nth-child(1){
color: var(--colorGray);
font-size: medium;
cursor: pointer;
}
.noteInfo-containerOptions > span:nth-child(1):hover{
  scale: 1.5;
}
.noteInfo-containerInfo > p:nth-child(1) {
  font-weight: 400;
  font-style: italic;
  font-size: 1.2rem;
  color: var(--colorGray);
}
.noteInfo-containerInfo > p:nth-child(2) {
  font-style: italic;
  font-weight: 400;
  color: var(--colorGray);
}

.containerEditNote-editNotes-editNote > input {
  width: 100%;
  border: none;
  background: var(--colorWhite);
  font-size: medium;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.containerEditNote-editNotes-editNote > input:focus {
  outline: none;
}
.containerEditNote-editNotes-editNote > textarea:focus {
  outline: none;
}
.containerEditNote-editNotes-editNote > textarea {
  width: 100%;
  height: calc(100% - 9rem);
  background: var(--colorWhite);
  border: none;
  font-size: small;
}

.superNoteToEdit-trashContainer{
  cursor: pointer;
  display: flex;
  color: var(--colorGray);
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  color: #C01313 ;
  font-size: small;

}
.superNoteToEdit-trashContainer > p {
  margin-left: 0.5rem;
}