@import 'vars';

.containerEditNote-editNotes-editNote {
  padding: 1rem;
  width: 60%;
  max-width: 16.5rem;
  height: 28rem;
  background: var(--colorWhite);
  border: 2px solid var(--colorGreen);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.22);
  border-radius: 0.5rem;
}
.containerEditNote-editNotes-noteInfo {
  border-bottom: 1px solid var(--colorGray);
  margin-bottom: 2rem;
}

.containerEditNote-editNotes-noteInfo > p:nth-child(1) {
  font-weight: 400;
  font-style: italic;
  font-size: 1.2rem;
  color: var(--colorGray);
}
.containerEditNote-editNotes-noteInfo > p:nth-child(2) {
  font-style: italic;
  font-weight: 400;
}

.containerEditNote-editNotes-editNote > input {
  width: 100%;
  border: none;
  background: var(--colorWhite);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.containerEditNote-editNotes-editNote > input:focus {
  outline: none;
}
.containerEditNote-editNotes-editNote > textarea:focus {
  outline: none;
}
.containerEditNote-editNotes-editNote > textarea {
  width: 100%;
  height: 18rem;
  background: var(--colorWhite);
  border: none;
  font-size: 1rem;
}

.containerEditNote-editNotes-editNote :nth-child(1) {
  font-weight: 900;
}
